body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 30px;
    background-color: #f4f4f4;
}

.container {
    max-width: 600px;
    margin: 0 auto;
    background: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    /* height: 190px; */
    margin-top: 190px;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
    width: 100%;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 10px;
    font-weight: bold;
}

/* input[type="file"] {
    margin-bottom: 20px;
} */

input[type="submit"] {
    padding: 10px;
    background-color: #28a745;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 16px;
}

input[type="submit"]:hover {
    background-color: #218838;
    transition: background-color 0.3s ease;
}

.message {
    text-align: center;
    margin-top: 20px;
    font-size: 18px;
}


/* Hide the default file input */
input[type="file"] {
    display: none;
}

/* Style the label to look like a button */
.custom-file-upload {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    font-family: Arial, sans-serif;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

/* Hover effect for the custom button */
.custom-file-upload:hover {
    background-color: #0056b3;
}
/* .back-button {
    background-color: #0d7aa7;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
    display: inline-block;
}

.back-button:hover {
    background-color: #0a6b91;
}

.back-button-container {
    text-align: left;
    margin-bottom: 20px;
    width: 80px;
} */